body {
    background-color: rgb(253, 133, 225);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(84, 7, 84);
    
}

h1 {
    text-align: center;
    margin-top: 20px;   
}

.About {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.Experience {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.Connect {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}

.Contact {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; 
    width: 750px;
    display: flex;
    flex-direction: column;   
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.Columns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}